:root {
  /* Fonts */
  --maine-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* Text colors */
  --maine-txt-cl: #212121;
  --gray-txt-cl: #757575;
  --light-txt-cl: #ffffff;
  --accent-txt-cl: #2196f3;
  --gray-txt-cl-60: rgba(255, 255, 255, 0.6);

  /* Background colors */
  --accent-bgd-cl: #2196f3;
  --black-bgd-cl: #2f303a;
  --gray-bgd-cl: #f5f4fa;
  --gray-bgd-btn-cl: #f5f4fa;

  /* Others */

  --grey-border-cl: #ececec;
  --light-border-cl: #eeeeee;
}

/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

/* Base styles */

.page {
  font-family: var(--maine-font);
  color: var(--maine-txt-cl);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header */

.header {
  background-color: #ffffff;

  border-bottom: 1px solid var(--grey-border-cl);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  font-family: var(--secondary-font);
  margin-right: 93px;

  color: #000000;
  text-decoration: none;
}

.accent {
  color: var(--accent-txt-cl);
}

.header-nav-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  cursor: pointer;
  padding-bottom: 32px;
  padding-top: 32px;
}

.active {
  color: var(--accent-txt-cl);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-txt-cl);
}

.header-list-contacts {
  color: var(--gray-txt-cl);
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-list-contacts {
  display: flex;
  align-items: center;
  gap: 50px;
}

/* Шапка */
.section-tittle {
  background-color: var(--black-bgd-cl);
  padding: 200px 0 200px;
}

.hero-container {
  align-items: center;
}

.maine-tittle {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-txt-cl);
  width: 696px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.maine-btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px 32px;

  background-color: var(--accent-bgd-cl);
  color: var(--light-txt-cl);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: inherit;
}
.maine-btn:hover,
.maine-btn:focus {
  cursor: pointer;
}

/* Особливості */

.peculiarity-container {
  display: flex;
  align-items: center;
}

.list-peculiarity {
  display: flex;
  gap: 30px;
}

.subtitle-peculiarity {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.desc-peculiarity {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--gray-txt-cl);
}

/* Чим ми займаємось */

.section-benefits {
  padding-top: 0;
}

.title-benefits {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.list-benefits {
  display: flex;
  gap: 30px;
}

/* Наша команда */

.section-team {
  background-color: var(--gray-bgd-cl);
}

.title-team {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.list-team {
  display: flex;
  gap: 30px;
}

.item-team {
  min-width: 270px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.img-team {
  margin-bottom: 30px;
}

.subtitle-team {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.desc-team {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gray-txt-cl);
  margin-bottom: 30px;
}

/* Портфоліо */

.list-btn {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.list-btn .btn {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  background-color: var(--gray-bgd-btn-cl);
  color: var(--maine-txt-cl);

  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
}

.list-btn .btn:focus,
.list-btn .btn:hover {
  color: var(--light-txt-cl);
  background-color: var(--accent-bgd-cl);
}

.portfolio-cards {
  display: flex;
}
.cards-list-portfolio {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.cards-item-portfolio {
  background: #ffffff;
  /* width: 370px; */
}

.group-bottom-cards {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid var(--light-border-cl);
  border-top: transparent;
}

.subtitle-portfolio {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--maine-txt-cl);

  margin-bottom: 4px;
}

.desc-portfolio {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--gray-txt-cl);
}

/* Footer */

.footer {
  background-color: var(--black-bgd-cl);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  font-family: var(--secondary-font);
  color: var(--light-txt-cl);
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.contacts-adress {
  font-style: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.contacts-adress .link:hover,
.contacts-adress .link:focus {
  color: var(--accent-txt-cl);
}

.list-item-contacts:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  color: var(--light-txt-cl);
  display: block;
}

.footer-contacts {
  color: var(--gray-txt-cl-60);
}
